node_modules/

client/app/controllers/*
client/app/directives/*
client/app/filters/*
client/app/resources/*
client/app/services/*
client/components/
client/assets/dist/*

server/controllers/*
server/events/*
server/models/*

!client/app/controllers/mainCtrl.js
!client/app/services/$config.js
!client/app/services/$socket.js