# ignore all node modules, because of course
node_modules/

# ignore all angular files
angular/controllers/*
angular/directives/*
angular/filters/*
angular/resources/*
angular/services/*
angular/assets/dist/*

# ignore all bower components
public/components/

# ignore all server site files
server/controllers/*
server/events/*
server/models/*

# keep a few of the necessary angular site files
!angular/controllers/mainCtrl.js
!angular/services/$config.js
!angular/services/$socket.js

# keep all gitkeep files so that our empty folders don't vanish
!.gitkeep